.custom-margin {
    margin: 20px; /* Adiciona uma margem de 20px em todos os lados */
}

.custom-padding {
    padding: 20px; /* Adiciona padding de 20px em todos os lados */
}

.w3-container {
    background-color: #f4f4f4; /* Cor de fundo mais clara */
}

.w3-teal {
    background-color: #6200EE !important; /* Cor do cabeçalho alterada para roxo */
}

.w3-button {
    background-color: #6200EE; /* Botões com a cor roxa */
    border-color: #6200EE; /* Bordas dos botões */
}

.w3-button:hover {
    background-color: #5d00d6; /* Efeito de hover mais escuro no botão */
}

.w3-card-4 {
    border-color: #6200EE; /* Borda do cartão também em roxo */
}