<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <title>Cadastro de Livros</title>
    <link rel="stylesheet" href="/static-css/materialize.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="/static-css/select2.min.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="form-container">
        <h1>Cadastro de Livros</h1>
        <form th:action="@{/salvar-livro}" th:object="${livro}" method="post">
            <div class="form-group">
                <label for="titulo">Título</label>
                <input class="form-control" id="titulo" th:field="*{titulo}" required>
            </div>

            <div class="form-group">
                <label for="lido">Foi lido?</label>
                <input type="checkbox" id="lido" th:field="*{lido}" value="true">
            </div>

            <div class="form-group">
                <label for="anoPublicacao">Ano de Publicação</label>
                <input class="form-control" type="number" id="anoPublicacao" th:field="*{anoPublicacao}" required>
            </div>

            <div class="form-group">
                <label for="autor">Autor</label>
                <select class="form-control select2" id="autor" name="autor" multiple="multiple" th:field="*{autores}">
                    <option th:each="autor : ${autores}" th:value="${autor.nome}" th:text="${autor.nome}"></option>
                </select>
            </div>

            <div class="form-group">
                <label for="genero">Gênero</label>
                <select class="form-control select2" id="genero" name="genero" multiple="multiple" th:field="*{generos}">
                    <option th:each="genero : ${generos}" th:value="${genero.nome}" th:text="${genero.nome}"></option>
                </select>
            </div>

            <div class="form-group">
                <label for="editora">Editora</label>
                <input class="form-control" id="editora" th:field="*{editora}" required>
            </div>

            <div class="form-group">
                <label for="localizacao">Localização</label>
                <input class="form-control" id="localizacao" th:field="*{localizacao}" required>
            </div>

            <div class="form-group">
                <label for="quantidade">Quantidade</label>
                <input class="form-control" type="number" id="quantidade" th:field="*{quantidade}" required>
            </div>

            <button type="button" class="btn btn-secondary btn-voltar" onclick="window.history.back();">Voltar</button>

            <button type="submit" class="btn btn-primary" id="btnSalvar">Salvar</button>

        </form>
    </div>
</div>


<script src="/static-js/jquery-3.7.1.min.js"></script>
<script src="/static-js/materialize.min.js"></script>
<script src="/static-js/select2.min.js"></script>
<script src="/js/cadastroLivroScripts.js"></script>
<script src="/sweetalert2@11"></script>
</body>
</html>