<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Detalhes do Autor</title>
    <link rel="stylesheet" href="/css/w3.css">
    <link rel="stylesheet" href="/css/detalhesautor.css">
</head>
<body class="w3-light-grey">

<!-- Container para centralizar tudo -->
<div class="w3-display-container w3-full" style="height: 100vh;">
    <div class="w3-container w3-card-4 w3-padding-large w3-margin w3-white w3-round-large w3-center w3-display-middle" style="max-width: 700px;">
        <h1 class="w3-text-deep-purple">Detalhes do Autor</h1>

        <div class="w3-card-4 w3-margin-top">
            <header class="w3-container w3-teal">
                <h2 th:text="${autor.nome}">Nome do Autor</h2>
            </header>

            <div class="custom-padding">
                <h3 class="w3-margin-top">Biografia</h3>
                <p th:utext="${autor.biografia}">Texto da Biografia</p>

                <footer class="w3-margin-top w3-small w3-text-grey w3-right">
                    Powered by <a href="https://www.wikipedia.org" target="_blank" class="w3-text-blue">Wikipedia</a>
                </footer>

                <form action="/atualizarFavoritoAutor" method="post" th:object="${autor}">

                    <input type="hidden" th:field="*{id}"/>

                    <div>
                        <label class="w3-text-gray" for="favorito">Favorito</label>
                        <input class="w3-check" id="favorito" type="checkbox" th:field="*{favorito}">
                    </div>

                    <div>
                        <button type="button" class="w3-button w3-light-grey w3-round w3-margin-right custom-margin" onclick="window.history.back();">
                            Voltar
                        </button>
                        <button type="submit" class="w3-button w3-teal w3-round custom-margin">Atualizar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>
