<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Detalhes do Livro</title>
    <link rel="stylesheet" href="/css/w3.css">
    <link rel="stylesheet" href="/css/detalheslivro.css">
</head>
<body class="w3-light-grey">

<div class="w3-container w3-padding-32">
    <h1 class="header-title">Detalhes do Livro</h1>

    <div class="w3-card-4 w3-white w3-padding-large w3-margin w3-card">
        <header class="w3-container" style="background-color: #3700b3; color: white; border-radius: 10px 10px 0 0;">
            <h2 th:text="${livro.titulo}">Título do livro</h2>
        </header>

        <div class="w3-container w3-padding">
            <!-- Autores -->
            <div>
                <h3>Autores</h3>
                <ul class="w3-ul w3-border">
                    <li th:each="nome : ${livro.getAutoresComoString()}" th:text="${nome}">Autores</li>
                </ul>
            </div>

            <!-- Dados de Leitura (Campos de leitura) -->
            <div class="w3-margin-top">
                <h3>Dados de Leitura</h3>
                <table class="w3-table-all">
                    <tr>
                        <td><b>Ano de Publicação:</b></td>
                        <td th:text="${livro.anoPublicacao}">Ano de Publicação</td>
                    </tr>
                    <tr>
                        <td><b>Gêneros:</b></td>
                        <td th:text="${livro.getGenerosComoString()}">Gêneros</td>
                    </tr>
                    <tr>
                        <td><b>Editora:</b></td>
                        <td th:text="${livro.editora}">Editora</td>
                    </tr>
                    <tr>
                        <td><b>Localização:</b></td>
                        <td th:text="${livro.localizacao}">Localização</td>
                    </tr>
                    <tr>
                        <td><b>Quantidade:</b></td>
                        <td th:text="${livro.quantidade}">Quantidade</td>
                    </tr>
                    <tr>
                        <td><b>Classificação:</b></td>
                        <td th:text="${livro.getClassificacaoComoString()}">Classificação</td>
                    </tr>
                    <tr>
                        <td><b>Data de Leitura:</b></td>
                        <td th:text="${livro.dataLeitura}">Data de Leitura</td>
                    </tr>
                    <tr>
                        <td><b>Comentário:</b></td>
                        <td th:text="${livro.comentario}">Comentário</td>
                    </tr>
                </table>
            </div>

            <!-- Biografia -->
            <h3 class="w3-margin-top">Dados Wikipedia</h3>
            <p th:utext="${livro.sinopse}">Texto do Gemini</p>

            <footer class="w3-margin-top footer-text w3-right">
                Powered by <a href="https://ai.google.dev/gemini-api" target="_blank" class="w3-text-blue">Gemini</a>
            </footer>

            <form action="/atualizarStatusLivro" method="post" th:object="${livro}">
                <input type="hidden" th:field="*{id}"/>

                <div>
                    <label class="w3-text-gray" for="lido">Lido</label>
                    <input class="w3-check" id="lido" type="checkbox" th:field="*{lido}">
                </div>

                <div>
                    <label class="w3-text-gray" for="favorito">Favorito</label>
                    <input class="w3-check" id="favorito" type="checkbox" th:field="*{favorito}">
                </div>

                <div>
                    <button type="button" class="back-button w3-hover-opacity w3-margin-top custom-margin" onclick="window.history.back();">
                        Voltar
                    </button>
                    <button type="submit" class="update-button">Atualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>
