<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca Pessoal</title>
    <link rel="stylesheet" href="/css/w3.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
<div class="header">
    <h1>Biblioteca Pessoal</h1>
</div>
<div class="container">
    <button class="w3-button w3-teal btn" onclick="window.location.href='/listarLivros';">Listar Livros</button>
    <button class="w3-button w3-teal btn" onclick="window.location.href='/cadastroLivro';">Adicionar Livro</button>
    <button class="w3-button w3-teal btn" onclick="window.location.href='/recomendacaoLivro';">Obter Recomendação</button>
    <button class="w3-button w3-teal btn" onclick="window.location.href='/listarAutores';">Listar Autores</button>
</div>
</body>
</html>
