<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring Boot com Thymeleaf</title>

    <!-- Importando Material Design Lite -->
    <link rel="stylesheet" href="/static-css/materialize.min.css">
    <script src="webjars/material-design-lite/1.3.0/material.min.js"></script>
</head>
<body>
<div class="container" style="padding: 20px;">
    <h3 th:text="${titulo}">Título padrão</h3>

    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
            onclick="window.location.href='/listar';">
        Listar
    </button>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
            onclick="window.location.href='/cadastroLivro';">
        Adicionar livro
    </button>
</div>
</body>
</html>