<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca Pessoal</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>
<div class="w3-container">
    <div class="w3-card-4 w3-light-grey w3-padding-large w3-margin">
        <h1 th:text="${titulo}">Título padrão</h1>

        <button class="w3-button w3-teal w3-margin-bottom"
                onclick="window.location.href='/listarLivros';">
            Listar Livros
        </button>
        <button class="w3-button w3-teal w3-margin-bottom"
                onclick="window.location.href='/cadastroLivro';">
            Adicionar livro
        </button>

        <button class="w3-button w3-teal w3-margin-bottom"
                onclick="window.location.href='/recomendacaoLivro';">
            Obter recomendação
        </button>

        <button class="w3-button w3-teal w3-margin-bottom"
                onclick="window.location.href='/listarAutores';">
            Listar Autores
        </button>

    </div>
</div>

</body>
</html>