<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensagem</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/css/listagemlivros.css">
</head>
<body>

<div class="w3-container w3-card-4 w3-padding-large w3-margin">
    <h2 class="w3-center w3-text-purple">Lista de Autores</h2>

    <table class="w3-table w3-striped w3-bordered w3-hoverable">
        <thead>
        <tr class="w3-purple w3-text-white">
            <th>Id</th>
            <th>Nome</th>
            <th>Favorito</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="autor : ${autores}">
            <td th:text="${autor.id}">Id</td>
            <td>
                    <span th:each="nome : ${autor.getNome()}">
                        <a href="#" th:attr="href='/detalhesAutor?nome=' + ${autor.nome}"
                           th:text="${nome}"
                           onclick="this.href='${/detalhesAutor?nome=' + encodeURIComponent(autor.nome)"></a><br/>
                    </span>
            </td>
            <td th:text="${autor.favorito}">Favorito</td>
        </tr>
        </tbody>
    </table>

    <a href="/" class="btn-back">Voltar</a>
</div>

</body>
</html>
