<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensagem</title>
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link rel="stylesheet" href="/css/listagemlivros.css">
</head>
<body>

<div class="container">
    <form class="search-bar" action="/buscar" method="get">
        <input type="text" id="searchInput" name="chave" placeholder="Pesquisar livros...">
        <button type="submit">Pesquisar</button>
    </form>

    <table id="dataTable">
        <thead>
        <tr>
            <th>Favorito</th>
            <th>Título</th>
            <th>Autores</th>
            <th>Editora</th>
            <th>Gêneros</th>
            <th>Ano de Publicação</th>
            <th>Excluir</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="livro : ${livros}">
            <td th:text="${livro.getFavorito()}">Favorito</td>
            <td>
                <a th:href="@{'/detalhesLivro?id=' + ${livro.id}}" th:text="${livro.getTitulo()}">Título</a>
            </td>
            <td>
                <span th:each="autor : ${livro.obterAutoresComoString()}" th:text="${autor}"></span>
            </td>
            <td th:text="${livro.getEditora()}">Editora</td>
            <td th:text="${livro.obterGenerosComoString()}">Gêneros</td>
            <td th:text="${livro.getAnoPublicacao()}">Ano</td>
            <td>
                <button class="btn-delete" th:onclick="'confirmarExclusao(' + ${livro.id} + ')'">Excluir</button>
            </td>
        </tr>
        </tbody>
    </table>

    <a href="/" class="btn-back">Voltar</a>
</div>

</body>
</html>
