<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca Pessoal</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        .custom-margin {
            margin: 20px; /* Adiciona uma margem de 20px em todos os lados */
        }
    </style>
</head>
<body>
<div class="w3-container">
    <div class="w3-card-4 w3-light-grey w3-padding-large w3-margin">
        <h1 th:text="${titulo}">Título padrão</h1>

        <p th:utext="${texto}"></p>

        <button type="button" class="w3-button w3-light-grey w3-round w3-margin-right custom-margin" onclick="window.history.back();">
            Voltar
        </button>
    </div>
</div>

</body>
</html>